// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Pulse from "../../../index.js";

export declare namespace ResultsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ResultsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ResultsClient.Options>;

    constructor(options: ResultsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Download the PDF binary produced by a `/form/detect`,
     * `/form/fill`, or `/form/clear` job. The `pdf_url` field on a
     * `FormResult` points at this endpoint — you can hand it
     * directly to a browser, embed it in an `<iframe>`, or fetch the
     * bytes from a backend.
     *
     * Returns `404` for non-form jobs (no PDF was produced) and for
     * form jobs whose PDF artifact is no longer available.
     * @throws {@link Pulse.NotFoundError}
     * @throws {@link Pulse.InternalServerError}
     */
    public getPdf(
        request: Pulse.GetPdfResultsRequest,
        requestOptions?: ResultsClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getPdf(request, requestOptions));
    }

    private async __getPdf(
        request: Pulse.GetPdfResultsRequest,
        requestOptions?: ResultsClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { jobId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PulseEnvironment.Default,
                `results/${core.url.encodePathParam(jobId)}/pdf`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            responseType: "binary-response",
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Pulse.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Pulse.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PulseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/results/{jobId}/pdf");
    }
}
