// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Pulse from "../../../index.js";

export declare namespace LargeResultsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LargeResultsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LargeResultsClient.Options>;

    constructor(options: LargeResultsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Download the full result for a large extraction. When `/extract`
     * or `GET /job/{jobId}` returns `is_url: true`, fetch the complete
     * result from the URL provided.  The URL is single-use: after a
     * successful download the resource is deleted and subsequent
     * requests return 410 Gone.
     *
     * For form jobs (`/form/detect`, `/form/fill`, `/form/clear`)
     * you don't need this endpoint at all — `GET /job/{jobId}`
     * already returns the full `FormResult` inline under `result`,
     * and the `pdf_url` field points at
     * [GET /results/{jobId}/pdf](api:GET/results/{jobId}/pdf) for the
     * binary.
     *
     * @param {Pulse.GetLargeResultLargeResultsRequest} request
     * @param {LargeResultsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Pulse.NotFoundError}
     * @throws {@link Pulse.GoneError}
     * @throws {@link Pulse.InternalServerError}
     *
     * @example
     *     await client.largeResults.getLargeResult({
     *         jobId: "jobId"
     *     })
     */
    public getLargeResult(
        request: Pulse.GetLargeResultLargeResultsRequest,
        requestOptions?: LargeResultsClient.RequestOptions,
    ): core.HttpResponsePromise<Pulse.ExtractResultCore> {
        return core.HttpResponsePromise.fromPromise(this.__getLargeResult(request, requestOptions));
    }

    private async __getLargeResult(
        request: Pulse.GetLargeResultLargeResultsRequest,
        requestOptions?: LargeResultsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Pulse.ExtractResultCore>> {
        const { jobId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PulseEnvironment.Default,
                `large_results/${core.url.encodePathParam(jobId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Pulse.ExtractResultCore, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Pulse.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 410:
                    throw new Pulse.GoneError(_response.error.body as Pulse.GoneErrorBody, _response.rawResponse);
                case 500:
                    throw new Pulse.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PulseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/large_results/{jobId}");
    }
}
