// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Pulse from "../../../index.js";

export declare namespace FormClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FormClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FormClient.Options>;

    constructor(options: FormClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Run cell detection on a PDF and return the detected `form_fields`
     * along with a reusable `form_id`. No LLM matching, no fill, no
     * clear — this is the OCR / layout step that `/form/fill` and
     * `/form/clear` would otherwise run internally.
     *
     * The returned `form_id` references the uploaded PDF and its
     * detected layout, and can be passed back to a subsequent
     * `/form/fill`, `/form/clear`, or `/form/detect` call as the
     * single input source — Pulse will skip detection on the fast
     * path and reuse the cached cells.
     *
     * **Input modes** — provide exactly one of:
     * - `form_id` — re-detect cells on a previously stored PDF.
     *   Useful when callers want to refresh layout after editing or
     *   when chaining detect calls.
     * - `file_url` — public or pre-signed URL Pulse will download.
     * - `file` — direct binary upload of the PDF.
     *
     * All three input modes ride on the same `multipart/form-data`
     * request body. (Callers sending `Content-Type: application/json`
     * with `form_id` / `file_url` are still accepted server-side for
     * backward compatibility, but the SDKs only model the multipart
     * form.)
     *
     * Optional `page_range` (alias `pages`, e.g. `"1-3,5"`) restricts
     * the operation to a subset of pages.
     *
     * Synchronous by default — returns the detected layout inline.
     * Set `async: true` to receive `{job_id, status: "pending"}`
     * immediately and poll [GET /job/{jobId}](api:GET/job/{jobId}).
     *
     * Billed at **1 credit per page**. Requires the `form_filler`
     * feature flag to be enabled for your organization.
     *
     * @param {Pulse.FormDetectMultipartInput} request
     * @param {FormClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Pulse.BadRequestError}
     * @throws {@link Pulse.UnauthorizedError}
     * @throws {@link Pulse.ForbiddenError}
     * @throws {@link Pulse.NotFoundError}
     * @throws {@link Pulse.TooManyRequestsError}
     * @throws {@link Pulse.InternalServerError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.form.detect({})
     */
    public detect(
        request: Pulse.FormDetectMultipartInput,
        requestOptions?: FormClient.RequestOptions,
    ): core.HttpResponsePromise<Pulse.FormResult> {
        return core.HttpResponsePromise.fromPromise(this.__detect(request, requestOptions));
    }

    private async __detect(
        request: Pulse.FormDetectMultipartInput,
        requestOptions?: FormClient.RequestOptions,
    ): Promise<core.WithRawResponse<Pulse.FormResult>> {
        const _request = await core.newFormData();
        if (request.file != null) {
            await _request.appendFile("file", request.file);
        }

        if (request.file_url != null) {
            _request.append("file_url", request.file_url);
        }

        if (request.form_id != null) {
            _request.append("form_id", request.form_id);
        }

        if (request.page_range != null) {
            _request.append("page_range", request.page_range);
        }

        if (request.async != null) {
            _request.append("async", request.async);
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PulseEnvironment.Default,
                "form/detect",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Pulse.FormResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Pulse.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Pulse.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Pulse.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Pulse.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Pulse.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Pulse.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PulseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/form/detect");
    }

    /**
     * Fill the fields of a PDF form with values inferred from a natural
     * language `instructions` prompt. Works on both AcroForm PDFs
     * (true form fields are written) and flat/scanned PDFs (values
     * are rendered as an overlay using detected cells from OCR).
     *
     * **Input modes** — provide exactly one of:
     * - `form_id` — reuse a previously processed form from a prior
     *   `/form/detect`, `/form/fill`, or `/form/clear` call. Skips
     *   re-detection (fast path); the cached `form_fields` are
     *   reused.
     * - `file_url` — public or pre-signed URL of a PDF Pulse will
     *   download.
     * - `file` — direct binary upload of the PDF. Pulse runs cell
     *   detection internally before filling.
     *
     * All three input modes ride on the same `multipart/form-data`
     * request body. (Callers sending `Content-Type: application/json`
     * with `form_id` / `file_url` are still accepted server-side for
     * backward compatibility, but the SDKs only model the multipart
     * form.)
     *
     * Optional `form_fields` lets callers supply or edit the detected
     * cells before filling. Optional `page_range` (alias `pages`,
     * e.g. `"1-3,5"`) restricts the operation to a subset of pages.
     *
     * Synchronous by default — returns the filled `FormResult` inline
     * (including a `pdf_url` you can `GET` to download the PDF
     * binary). Set `async: true` to receive `{job_id, status:
     * "pending"}` and poll [GET /job/{jobId}](api:GET/job/{jobId}).
     *
     * Billed at **3 credits per page**. Requires the `form_filler`
     * feature flag to be enabled for your organization.
     *
     * @param {Pulse.FormFillMultipartInput} request
     * @param {FormClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Pulse.BadRequestError}
     * @throws {@link Pulse.UnauthorizedError}
     * @throws {@link Pulse.ForbiddenError}
     * @throws {@link Pulse.NotFoundError}
     * @throws {@link Pulse.TooManyRequestsError}
     * @throws {@link Pulse.InternalServerError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.form.fill({
     *         instructions: "instructions"
     *     })
     */
    public fill(
        request: Pulse.FormFillMultipartInput,
        requestOptions?: FormClient.RequestOptions,
    ): core.HttpResponsePromise<Pulse.FormResult> {
        return core.HttpResponsePromise.fromPromise(this.__fill(request, requestOptions));
    }

    private async __fill(
        request: Pulse.FormFillMultipartInput,
        requestOptions?: FormClient.RequestOptions,
    ): Promise<core.WithRawResponse<Pulse.FormResult>> {
        const _request = await core.newFormData();
        if (request.file != null) {
            await _request.appendFile("file", request.file);
        }

        if (request.file_url != null) {
            _request.append("file_url", request.file_url);
        }

        if (request.form_id != null) {
            _request.append("form_id", request.form_id);
        }

        _request.append("instructions", request.instructions);
        if (request.form_fields != null) {
            _request.append("form_fields", request.form_fields);
        }

        if (request.page_range != null) {
            _request.append("page_range", request.page_range);
        }

        if (request.async != null) {
            _request.append("async", request.async);
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PulseEnvironment.Default,
                "form/fill",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Pulse.FormResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Pulse.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Pulse.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Pulse.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Pulse.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Pulse.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Pulse.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PulseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/form/fill");
    }

    /**
     * Remove user-entered data from a PDF form, leaving the blank
     * form template intact. Erases handwritten entries, typed values,
     * and unchecks selected checkboxes — printed labels, field
     * titles, section headers, and other static template content are
     * preserved.
     *
     * **Input modes** — provide exactly one of:
     * - `form_id` — reuse a previously processed form from a prior
     *   `/form/detect`, `/form/fill`, or `/form/clear` call (fast
     *   path; cached layout reused).
     * - `file_url` — public or pre-signed URL of a PDF Pulse will
     *   download.
     * - `file` — direct binary upload of the PDF.
     *
     * All three input modes ride on the same `multipart/form-data`
     * request body. (Callers sending `Content-Type: application/json`
     * with `form_id` / `file_url` are still accepted server-side for
     * backward compatibility, but the SDKs only model the multipart
     * form.)
     *
     * `instructions` is optional. When omitted, Pulse clears every
     * user-filled field deterministically (no LLM call) on AcroForm
     * PDFs, eliminating any chance of hallucinated content. Provide
     * a natural language prompt to clear only specific fields
     * (e.g. `"clear only the address fields"`); targeted clears go
     * through the LLM matcher with a delete-only filter.
     *
     * Optional `form_fields` and `page_range` (alias `pages`) behave
     * the same as on [Form Fill](api:POST/form/fill).
     *
     * Synchronous by default — returns the cleared `FormResult`
     * inline (including a `pdf_url` you can `GET` to download the
     * PDF binary). Set `async: true` to receive `{job_id, status:
     * "pending"}` and poll [GET /job/{jobId}](api:GET/job/{jobId}).
     *
     * Billed at **3 credits per page**. Requires the `form_filler`
     * feature flag to be enabled for your organization.
     *
     * @param {Pulse.FormClearMultipartInput} request
     * @param {FormClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Pulse.BadRequestError}
     * @throws {@link Pulse.UnauthorizedError}
     * @throws {@link Pulse.ForbiddenError}
     * @throws {@link Pulse.NotFoundError}
     * @throws {@link Pulse.TooManyRequestsError}
     * @throws {@link Pulse.InternalServerError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.form.clear({})
     */
    public clear(
        request: Pulse.FormClearMultipartInput,
        requestOptions?: FormClient.RequestOptions,
    ): core.HttpResponsePromise<Pulse.FormResult> {
        return core.HttpResponsePromise.fromPromise(this.__clear(request, requestOptions));
    }

    private async __clear(
        request: Pulse.FormClearMultipartInput,
        requestOptions?: FormClient.RequestOptions,
    ): Promise<core.WithRawResponse<Pulse.FormResult>> {
        const _request = await core.newFormData();
        if (request.file != null) {
            await _request.appendFile("file", request.file);
        }

        if (request.file_url != null) {
            _request.append("file_url", request.file_url);
        }

        if (request.form_id != null) {
            _request.append("form_id", request.form_id);
        }

        if (request.instructions != null) {
            _request.append("instructions", request.instructions);
        }

        if (request.form_fields != null) {
            _request.append("form_fields", request.form_fields);
        }

        if (request.page_range != null) {
            _request.append("page_range", request.page_range);
        }

        if (request.async != null) {
            _request.append("async", request.async);
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PulseEnvironment.Default,
                "form/clear",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs:
                requestOptions?.timeoutInSeconds != null
                    ? requestOptions.timeoutInSeconds * 1000
                    : this._options?.timeoutInSeconds != null
                      ? this._options?.timeoutInSeconds * 1000
                      : undefined,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Pulse.FormResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Pulse.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Pulse.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Pulse.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Pulse.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Pulse.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Pulse.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PulseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/form/clear");
    }
}
