// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Pulse from "../../../index.js";

export declare namespace PipelineClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PipelineClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PipelineClient.Options>;

    constructor(options: PipelineClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Chain multiple processing steps (extract, schema, split) into a single
     * request with inline configurations. No saved pipeline required.
     *
     * The `steps` object defines what to run and in what order. Outputs flow
     * forward automatically — you never need to pass extraction IDs between
     * steps.
     *
     * **Supported step combinations:**
     * - `extract` — extract a single document
     * - `extract` → `schema` — extract then apply structured schema
     * - `extract` → `split` — extract then split into topics
     * - `batch_extract` → `schema` — extract multiple files, combine into one schema output
     *
     * **Document input:**
     * - Single file: provide `fileUrl` in JSON or `file` via multipart
     * - Multiple files (batch_extract): provide `fileUrls` in JSON or multiple `file` fields via multipart
     *
     * Set `async: true` to return immediately with a `job_id` for polling via
     * `GET /job/{jobId}`.
     *
     * Set `autoDelete: true` for zero-retention mode — all stored artifacts
     * are deleted immediately after you receive the results. Requires
     * `save_extractions` to be disabled for your organization.
     *
     * Requires the `enable_adhoc_pipeline` feature flag.
     *
     * @param {Pulse.PipelineExecuteInput} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Pulse.BadRequestError}
     * @throws {@link Pulse.UnauthorizedError}
     * @throws {@link Pulse.ForbiddenError}
     * @throws {@link Pulse.TooManyRequestsError}
     *
     * @example
     *     await client.pipeline.execute({
     *         steps: {}
     *     })
     */
    public execute(
        request: Pulse.PipelineExecuteInput,
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Pulse.PipelineExecuteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__execute(request, requestOptions));
    }

    private async __execute(
        request: Pulse.PipelineExecuteInput,
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Pulse.PipelineExecuteResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PulseEnvironment.Default,
                "pipeline/execute",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Pulse.PipelineExecuteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Pulse.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Pulse.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Pulse.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Pulse.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PulseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/pipeline/execute");
    }
}
