// This file was auto-generated by Fern from our API Definition.

import type * as Pulse from "../../../../index.js";

/**
 * @example
 *     {
 *         output: {}
 *     }
 */
export interface BatchSchemaInput {
    /** ID of a prior `/batch/extract` run (single mode). */
    batch_extract_id?: string;
    /** Explicit list of extraction IDs (single mode). */
    extraction_ids?: string[];
    /** ID of a prior `/batch/split` run (split mode). */
    batch_split_id?: string;
    /** Explicit list of split IDs (split mode). */
    split_ids?: string[];
    /** Where to save schema result JSON files. */
    output: Pulse.BatchOutputDestination;
    /** Schema configuration for single mode. Applied to each extraction. */
    schema_config?: Pulse.SchemaConfig;
    /** Per-topic schema configurations for split mode. Keys must match the topic names from the splits. */
    split_schema_config?: Record<string, Pulse.TopicSchemaConfig>;
    /** Page range filter for single mode (e.g. `1-5,10`). */
    page_range?: string;
    /** Number of parallel workers. */
    workers?: number;
}
