// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Pulse from "../../../index.js";

export declare namespace BatchClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BatchClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BatchClient.Options>;

    constructor(options: BatchClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Process multiple files in parallel. Enumerates files from an input
     * source (S3 prefix, local directory, or URL list), calls
     * [Extract](api:POST/extract) for each file, and saves results to an
     * output destination.
     *
     * Always asynchronous — returns a batch job ID immediately.
     * Poll [GET /job/{jobId}](api:GET/job/{jobId}) for real-time progress
     * including per-file completion status.
     *
     * See the [Extract](api:POST/extract) endpoint for details on
     * `extract_options` and the [Batch Processing guide](/batch) for
     * an overview of the batch pipeline.
     *
     * @param {Pulse.BatchExtractInput} request
     * @param {BatchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Pulse.BadRequestError}
     * @throws {@link Pulse.UnauthorizedError}
     * @throws {@link Pulse.TooManyRequestsError}
     *
     * @example
     *     await client.batch.extract({
     *         input: {},
     *         output: {}
     *     })
     */
    public extract(
        request: Pulse.BatchExtractInput,
        requestOptions?: BatchClient.RequestOptions,
    ): core.HttpResponsePromise<Pulse.BatchExtractResponse> {
        return core.HttpResponsePromise.fromPromise(this.__extract(request, requestOptions));
    }

    private async __extract(
        request: Pulse.BatchExtractInput,
        requestOptions?: BatchClient.RequestOptions,
    ): Promise<core.WithRawResponse<Pulse.BatchExtractResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PulseEnvironment.Default,
                "batch/extract",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Pulse.BatchExtractResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Pulse.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Pulse.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Pulse.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PulseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/batch/extract");
    }

    /**
     * Apply schema extraction to multiple items in parallel.
     * Mode is inferred from the input:
     *
     * **Single mode** — Provide `extraction_ids` or `batch_extract_id`
     * with `schema_config` to apply one schema to each extraction.
     *
     * **Split mode** — Provide `split_ids` or `batch_split_id`
     * with `split_schema_config` to apply per-topic schemas to each split.
     *
     * Each child call goes through the full [Schema](api:POST/schema) code
     * path. Poll [GET /job/{jobId}](api:GET/job/{jobId}) for real-time
     * progress.
     *
     * See the [Schema](api:POST/schema) endpoint for details on
     * `schema_config` and `split_schema_config`, and the
     * [Batch Processing guide](/batch) for an overview of the batch
     * pipeline.
     *
     * @param {Pulse.BatchSchemaInput} request
     * @param {BatchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Pulse.BadRequestError}
     * @throws {@link Pulse.UnauthorizedError}
     * @throws {@link Pulse.NotFoundError}
     * @throws {@link Pulse.TooManyRequestsError}
     *
     * @example
     *     await client.batch.schema({
     *         output: {}
     *     })
     */
    public schema(
        request: Pulse.BatchSchemaInput,
        requestOptions?: BatchClient.RequestOptions,
    ): core.HttpResponsePromise<Pulse.BatchSchemaResponse> {
        return core.HttpResponsePromise.fromPromise(this.__schema(request, requestOptions));
    }

    private async __schema(
        request: Pulse.BatchSchemaInput,
        requestOptions?: BatchClient.RequestOptions,
    ): Promise<core.WithRawResponse<Pulse.BatchSchemaResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PulseEnvironment.Default,
                "batch/schema",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Pulse.BatchSchemaResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Pulse.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Pulse.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Pulse.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Pulse.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PulseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/batch/schema");
    }

    /**
     * Extract tables from multiple existing extractions in parallel.
     * Each child call goes through the full [Tables](api:POST/tables) code
     * path.
     *
     * Extractions are identified by either a `batch_extract_id` (from a
     * prior [Batch Extract](api:POST/batch/extract) run) or an explicit
     * list of `extraction_ids`.
     *
     * Poll [GET /job/{jobId}](api:GET/job/{jobId}) for real-time progress.
     *
     * See the [Tables](api:POST/tables) endpoint for details on
     * `tables_config` and the [Batch Processing guide](/batch) for an
     * overview of the batch pipeline.
     *
     * @param {Pulse.BatchTablesInput} request
     * @param {BatchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Pulse.BadRequestError}
     * @throws {@link Pulse.UnauthorizedError}
     * @throws {@link Pulse.NotFoundError}
     * @throws {@link Pulse.TooManyRequestsError}
     *
     * @example
     *     await client.batch.tables({
     *         output: {}
     *     })
     */
    public tables(
        request: Pulse.BatchTablesInput,
        requestOptions?: BatchClient.RequestOptions,
    ): core.HttpResponsePromise<Pulse.BatchTablesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__tables(request, requestOptions));
    }

    private async __tables(
        request: Pulse.BatchTablesInput,
        requestOptions?: BatchClient.RequestOptions,
    ): Promise<core.WithRawResponse<Pulse.BatchTablesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PulseEnvironment.Default,
                "batch/tables",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Pulse.BatchTablesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Pulse.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Pulse.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Pulse.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Pulse.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PulseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/batch/tables");
    }

    /**
     * Split multiple existing extractions by topics in parallel.
     * Each child call goes through the full [Split](api:POST/split) code
     * path.
     *
     * Extractions are identified by either a `batch_extract_id` (from a
     * prior [Batch Extract](api:POST/batch/extract) run) or an explicit
     * list of `extraction_ids`.
     *
     * Poll [GET /job/{jobId}](api:GET/job/{jobId}) for real-time progress.
     *
     * See the [Split](api:POST/split) endpoint for details on
     * `split_config` and the [Batch Processing guide](/batch) for an
     * overview of the batch pipeline.
     *
     * @param {Pulse.BatchSplitInput} request
     * @param {BatchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Pulse.BadRequestError}
     * @throws {@link Pulse.UnauthorizedError}
     * @throws {@link Pulse.NotFoundError}
     * @throws {@link Pulse.TooManyRequestsError}
     *
     * @example
     *     await client.batch.split({
     *         output: {},
     *         split_config: {
     *             split_input: [{
     *                     name: "name"
     *                 }]
     *         }
     *     })
     */
    public split(
        request: Pulse.BatchSplitInput,
        requestOptions?: BatchClient.RequestOptions,
    ): core.HttpResponsePromise<Pulse.BatchSplitResponse> {
        return core.HttpResponsePromise.fromPromise(this.__split(request, requestOptions));
    }

    private async __split(
        request: Pulse.BatchSplitInput,
        requestOptions?: BatchClient.RequestOptions,
    ): Promise<core.WithRawResponse<Pulse.BatchSplitResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PulseEnvironment.Default,
                "batch/split",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Pulse.BatchSplitResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Pulse.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Pulse.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Pulse.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Pulse.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PulseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/batch/split");
    }
}
