// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Pulse from "../../../index.js";

export declare namespace JobsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class JobsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<JobsClient.Options>;

    constructor(options: JobsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Check the status and retrieve results of an asynchronous job
     * (submitted via any endpoint with `async: true`).
     *
     * @param {Pulse.GetJobRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Pulse.UnauthorizedError}
     * @throws {@link Pulse.ForbiddenError}
     * @throws {@link Pulse.NotFoundError}
     * @throws {@link Pulse.TooManyRequestsError}
     * @throws {@link Pulse.InternalServerError}
     *
     * @example
     *     await client.jobs.getJob({
     *         jobId: "jobId"
     *     })
     */
    public getJob(
        request: Pulse.GetJobRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<Pulse.JobStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getJob(request, requestOptions));
    }

    private async __getJob(
        request: Pulse.GetJobRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Pulse.JobStatusResponse>> {
        const { jobId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PulseEnvironment.Default,
                `job/${core.url.encodePathParam(jobId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Pulse.JobStatusResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Pulse.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Pulse.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Pulse.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Pulse.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Pulse.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PulseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/job/{jobId}");
    }

    /**
     * Attempts to cancel an asynchronous job that is currently pending
     * or processing. Jobs that have already completed will remain unchanged.
     *
     * @param {Pulse.CancelJobRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Pulse.UnauthorizedError}
     * @throws {@link Pulse.ForbiddenError}
     * @throws {@link Pulse.NotFoundError}
     * @throws {@link Pulse.TooManyRequestsError}
     * @throws {@link Pulse.InternalServerError}
     *
     * @example
     *     await client.jobs.cancelJob({
     *         jobId: "jobId"
     *     })
     */
    public cancelJob(
        request: Pulse.CancelJobRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<Pulse.JobCancellationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancelJob(request, requestOptions));
    }

    private async __cancelJob(
        request: Pulse.CancelJobRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Pulse.JobCancellationResponse>> {
        const { jobId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PulseEnvironment.Default,
                `job/${core.url.encodePathParam(jobId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Pulse.JobCancellationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Pulse.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Pulse.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Pulse.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Pulse.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Pulse.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PulseError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/job/{jobId}");
    }
}
